#
# bldc configuration written in linux configuration language
#
# Written by daoweifan@2010
#

bool "enable finsh shell module" CONFIG_COMPONENT_FINSH

if [ "$CONFIG_COMPONENT_FINSH" = "y" ]; then
	choice 'default finsh shell select'	" \
		UARTg	CONFIG_FINSH_UARTg \
		UART0	CONFIG_FINSH_UART0 \
		UART1	CONFIG_FINSH_UART1 \
		UART2	CONFIG_FINSH_UART2 \
	" UART0
fi

bool "using syscall&var table linkfile" CONFIG_FINSH_USING_SYMTAB
bool "using description of syscall&var" CONFIG_FINSH_USING_DESCRIPTION
int "set finsh shell task stack size"   CONFIG_FINSH_TASK_STACK_SIZE 4096
int "set finsh shell task priority"     CONFIG_FINSH_TASK_PRIORITY 1

